body{
    font-family: 'Roboto', sans-serif;
}

.site-branding__name{
    font-size: 3rem;
}

.region-header, .region-header a, .region-header li a.is-active, .region-header .site-branding__text, .region-header .site-branding, .region-header .site-branding__text a, .region-header .site-branding a, .region-secondary-menu .menu-item a, .region-secondary-menu .menu-item a.is-active {
    color: #ff9900;
    
} 

#header{
    background-color: #fff;
    background-image: none;
}



.path-frontpage .main-content .node--view-mode-teaser h2 a{
    color:#ff9900;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sidebar .block {
    border-color: #fff;
    background-color: #fff;
    
}

.sidebar h2 {
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #ff9900;
    color: #ff9900;
    text-transform: uppercase;    
    font-size: 1rem;
    font-style: italic;
}

.region-primary-menu .menu-item a.is-active{
    background-color:#ff9900;
    color:#fff;
}

.bottom_wide{
    width: 100%;
    background-color: lightgray;
    padding: 20px 0;
    margin-bottom: 20px;
}

.external-link::before{
    content: url(../images/external-link.gif);
    display: inline-block;
    width: 12px;
    height: 12px;
}

 /* .layout-sidebar-first .main-content {
    margin-right: 0;
    margin-left: 0;
}

.layout-one-sidebar .main-content {
    width: 100%;
} */

/* .main-content {
    margin-right: 0;
    margin-left: 0;
}

.main-content {
    width: 100%;
}  */

.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.left{
   flex-grow: 2;
   margin-right: 20px;
}
.right{
    flex-grow: 4;
}

.views-row {
    background-color: #d3d3d338;
    border: 1px solid    #b1b0b0;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px;
}