{% extends "page.html.twig" %}

{% block header %}
    {{ parent() }}
    {# <h1>Je suis une page article</h1> #}
{% endblock  %}

{% block main %}
    {{ parent() }}
    {# <h1>Je suis une page article</h1> #}
{% endblock  %}


{% block footer %}
    {{ parent() }}
    {# <h1>Je suis une page article</h1> #}
{% endblock  %}
